@import "tailwindcss";
@import "./theme.css";
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 400;
  color-scheme: light dark;

  background-color: white;
  color: black;
}

.header {
  @apply text-5xl font-semibold text-gray-800;
}

.sub-header {
  @apply text-2xl font-semibold text-gray-800;
}

.content {
  @apply text-lg text-gray-800;
}

.docs-container {
  @apply flex flex-col gap-2 min-h-[calc(100vh-4rem)];
}

.mobile-options-icons {
  @apply text-primary size-16 text-center bg-white rounded-full p-2 drop-shadow-lg
   hover:text-accent hover:bg-neutral-100 transition-colors duration-300 ease-in-out cursor-pointer;
}

/* Base picker container */
.react-colorful {
  width: 100% !important;
  height: 200px !important;
  border-radius: 0.75rem; /* 12px */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Saturation area (main square) */
.react-colorful__saturation {
  border-radius: 0.75rem 0.75rem 0 0;
}

/* Hue and alpha sliders */
.react-colorful__hue,
.react-colorful__alpha {
  height: 16px;
  border-radius: 9999px; /* pill shape */
}

/* Round the thumb */
.react-colorful__pointer {
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-radius: 9999px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
